<ngx-collapsible-sidebar-container>
  <ngx-collapsible-sidebar highlightColor="#10395e" [collapsed]="collapse">
    <ngx-collapsible-sidebar-item path="/home">
      <ng-template ngxCollapsedSidebarItem>
        <mat-icon class="custom-icon">home</mat-icon>
      </ng-template>
      <ng-template ngxExpandedSidebarItem>
        <span class="custom-text">Home</span>
      </ng-template>
    </ngx-collapsible-sidebar-item>
    <ngx-collapsible-sidebar-item title="Gaps" icon="schedule" path="/gaps">
    </ngx-collapsible-sidebar-item>
    <ngx-collapsible-sidebar-item title="Hotels" icon="local_hotel" path="/hotels">
    </ngx-collapsible-sidebar-item>
    <ngx-collapsible-sidebar-item title="Stats" icon="equalizer" path="/stats">
    </ngx-collapsible-sidebar-item>
    <ngx-collapsible-sidebar-item title="Campaigns" icon="record_voice_over" path="/campaigns">
    </ngx-collapsible-sidebar-item>
    <ngx-collapsible-sidebar-item title="Alerts" icon="notifications_active" path="/alerts">
    </ngx-collapsible-sidebar-item>
    <ngx-collapsible-sidebar-item title="Profile" icon="account_circle" path="/profile">
      <ngx-collapsible-sidebar-sub-item title="Personal" path="personal">
      </ngx-collapsible-sidebar-sub-item>
      <ngx-collapsible-sidebar-sub-item title="Payment" path="payment">
      </ngx-collapsible-sidebar-sub-item>
      <ngx-collapsible-sidebar-sub-item title="Billing" path="billing">
      </ngx-collapsible-sidebar-sub-item>
    </ngx-collapsible-sidebar-item>
  </ngx-collapsible-sidebar>

  <ngx-collapsible-sidebar-content>
    <button (click)="collapse = !collapse">Toggle</button>
    <router-outlet></router-outlet>
  </ngx-collapsible-sidebar-content>
</ngx-collapsible-sidebar-container>
